In [12]:
import pandas as pd
import sqlite3

In [18]:
#  using sql lite database - show dataframe of picks.db

conn = sqlite3.connect("pickem.db", check_same_thread=False)
cursor = conn.cursor()

users = pd.read_sql_query("SELECT * FROM users", conn)
picks = pd.read_sql_query("SELECT * FROM picks", conn)
games = pd.read_sql_query("SELECT * FROM games", conn)

In [19]:
users

  username  name                                      password_hash
0       mj  Mike  $2b$12$p1WvmtSZMKSt9XO0ggXA/.hCVUfrMirlWqC8gb5...

In [20]:
picks

Empty DataFrame
Columns: [username, game_id, pick, timestamp]
Index: []

In [5]:
games

      game_id        week      home      away              kickoff winner
0   LAR @ CAR   Wild Card  Panthers      Rams  2026-01-10T15:00:00   None
1    CHI @ GB   Wild Card     Bears   Packers  2026-01-10T19:30:00   None
2   JAX @ BUF   Wild Card   Jaguars     Bills  2026-01-10T22:00:00   None
3    PHI @ SF   Wild Card    Eagles     49ers  2026-01-11T15:00:00   None
4    NE @ LAC   Wild Card  Patriots  Chargers  2026-01-11T19:30:00   None
5   PIT @ HOU   Wild Card  Steelers    Texans  2026-01-11T22:00:00   None
6        Div1  Divisional    Team A    Team B  2026-01-17T22:00:00   None
7        Div2  Divisional    Team C    Team D  2026-01-17T15:00:00   None
8        Div3  Divisional    Team E    Team F  2026-01-18T19:30:00   None
9        Div4  Divisional    Team G    Team H  2026-01-18T22:00:00   None
10       Con1  Conference    Team A    Team B  2026-01-25T19:30:00   None
11       Con2  Conference    Team C    Team D  2026-01-25T22:00:00   None
12         SB   Superbowl    Team A    Team B  2026-02-01T15:00:00   None

In [ ]:
# delete table users

cursor.execute("DROP TABLE games")

In [ ]:
# stop cursor

cursor.close()
conn.close()

In [21]:
from urllib.parse import quote_plus

password = "UnitCircle42!"
encoded = quote_plus(password)
print(encoded)
# Output: P%40ss%3Aword%21

UnitCircle42%21

In [24]:
import psycopg2

conn = psycopg2.connect(
    "postgresql://postgres:UnitCircle42%21@mfirvwichioytggiblis.supabase.co:5432/postgres",
    sslmode="require"
)
cur = conn.cursor()
cur.execute("SELECT 1;")
print(cur.fetchone())

OperationalError: connection to server at "mfirvwichioytggiblis.supabase.co" (172.64.149.246), port 5432 failed: Connection timed out (0x0000274C/10060)
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "mfirvwichioytggiblis.supabase.co" (104.18.38.10), port 5432 failed: Connection timed out (0x0000274C/10060)
	Is the server running on that host and accepting TCP/IP connections?